<style>.col button{
    background-color: blue;
    color: white;
    width: 133%;
  }
  .button a{
    float: right;
    background-color: #00FF33;
    border:1px solid white;
    width: 100px;
    text-align: center;
    font-size: 15px;
   color: blue;
  }
  </style>
<form  #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="appointment-form" style="color: #555555;">
<div id="content" style="margin-top: -5.6px;margin-left: 1px;">
    <div class="parent">
      
        <div class="box-one">
          <h1>Details</h1>
       
        <div class="row">
            <div class="col-sm-6">
                <label style="float: right;font-size: 15px;color: #fff;">UserName</label>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="userName" #name="ngModel"
                [(ngModel)]="userService.user.userName"  required style="font-size: 15px;width: 180px;">
          </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
                <label style="float: right;font-size: 15px;color: #fff;">Phone Number</label>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="phoneNumber" #name="ngModel"
                [(ngModel)]="userService.user.phoneNumber" style="font-size: 15px;width: 180px;" required>
          </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
                <label style="float: right;font-size: 15px;color: #fff;">Status</label>
            </div>
            <div class="col-sm-6">               
                      <input name="status" [(ngModel)]="userService.user.status" style="color: #495057;
                      font-size: 15px;width: 180px;height: 34px;border-radius: 3px;" readonly>
          </div>
          </div>
          <br>  
          <div style="margin-top:50px;">
            <div class="row">
                <div class="col-sm-3">
                    <button class="contact-link" target="_blank"  type="submit" style="color: black;"> Edit</button>
                </div>
                <div class="col-sm-3">
                    <button class="contact-link" target="_blank" type="button" (click) = "cancel();" style="color: black;"> Cancel</button>
                </div>
                <div class="col-sm-6">
                  <button class="contact-link" target="_blank" type="button" (click) = "moveToUserChangePassword();" style="color: black;"> Change Password</button>
              </div>
            </div>
        </div>
     
         
        </div>
        <div class="box-two">
          <div class="image" >
          <!-- <img src="../../../assets/{{userService.user.avatar}}" >
          <input type="file" name = "avatar" id="upload"  onchange="readURL(this)" [(ngModel)]="userService.user.avatar" 
          style="font-size: 12px;color: black;font-weight: 500;"/> -->
          <img id="output"  src="../../../assets/{{userService.user.avatar}}">
                <input name="photo" type="file" accept="image/*"   style="font-size: 12px;color: black;font-weight: 500;"
                onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])"  #name="ngModel"
                [(ngModel)]="userService.user.avatar">
          </div>
        
        </div>

      </div>
  </div>
  </form>
  <!-- partial -->