<style>.col button{
    background-color: blue;
    color: white;
    width: 133%;
  }
  .button a{
    float: right;
    background-color: #00FF33;
    border:1px solid white;
    width: 100px;
    text-align: center;
    font-size: 15px;
   color: blue;
  }
  </style>
<form method="POST" [formGroup]="changePasswordForm"> 
     <div id="content" style="margin-top: -5.6px;margin-left: 1px;">
    <div class="parent">
       
        <div class="box-one">
            <h3>Details</h3>
            <h3 style="text-align: center;color: #00FF00;" *ngIf = "statusChangePassword">{{alertMessage}}</h3>
            <br>
        <div class="row">
            <div class="col-sm-6">
                <label style="float: right;font-size: 15px;color: #fff;">UserName</label>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="text" formControlName="user" value="{{userName}}" readonly required style="font-size: 15px;width: 180px;">
          </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
                <label style="float: right;font-size: 15px;color: #fff;">Current Password</label>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="password" formControlName="currentPassword" style="font-size: 15px;width: 180px;" required>
          </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
                <label style="float: right;font-size: 15px;color: #fff;">New Password</label>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="password" formControlName="newPassword" style="font-size: 15px;width: 180px;" required>
          </div>
          </div>
         <br>
         <div class="row">
            <div class="col-sm-6">
                <label style="float: right;font-size: 15px;color: #fff;">Confirm Password</label>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="password" formControlName="confirmPassword" style="font-size: 15px;width: 180px;" required>
          </div>
          </div>

          <div style="margin-top:50px;margin-left: 250px;">
            <div class="row">
                <div class="col-sm-4">
                    <button class="contact-link" target="_blank"  type="submit" (click) = "ChangePassword();" style="color: black;">Change</button>
                </div>
                <div class="col-sm-4">
                    <button class="contact-link" target="_blank" type="button" (click) = "cancel();" style="color: black;"> Cancel</button>
                </div>
            </div>
        </div>
        </div>
        <div class="box-two">
          <div class="image" >
          <!-- <img src="../../../assets/{{userService.user.avatar}}" >
          <input type="file" name = "avatar" id="upload"  onchange="readURL(this)" [(ngModel)]="userService.user.avatar" 
          style="font-size: 12px;color: black;font-weight: 500;"/> -->
      
          </div>
        
        </div>
  
      </div>
  </div>
  </form>
  <!-- partial -->